.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

.content-center {
  display: flex;
  height: 100%;
}

.App-header {
  background-color: #282c34;
  color: white;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar {
  background-color: #282c34;
  color: white;
  height: 100%;
  width: 15vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0; /* prevent the sidebar from shrinking */
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 80vw;
}

.text-edit {
  width: 60%;
  flex-grow: 1; /* make the text edits fill the remaining height */
  resize: none;
  margin: 10px; /* add some margin between the text edits */
}

.button {
  position: absolute;
  bottom: 10px;
  right: 10px;
  margin-right: 20px;
  margin-bottom: 20px;
  width: 150px;
  height: 30px;
  font-weight: bold;
  font-size: 15px;
}